.littlefoot__button {
  --interactive-footnote-color: #da3567;
  position: relative;
  display: inline-block;
  font: inherit;
  font-size: 80%;
  color: var(--interactive-footnote-color);
  appearance: none;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--interactive-footnote-color);
  padding: 0;
  border-radius: 1.25em;
  width: 1.25em;
  height: 1.25em;
  line-height: 1em;
  margin-left: 0.5ex;
}
@media not print {
  .footnotes-sep {
    display: none;
  }
}
.wondersoft .littlefoot-footnote__content {
  word-wrap: break-word;
  display: block;
}