
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

header.navbar {
  background: #F5F4F3;

  .links {
    background: #F5F4F3;
  }

  .site-name {
    color: #605850;
  }
}

.home .hero img {
  width: 238px;
  height: 142px;
}
