.content {
  font-family: "Source Sans Pro", "CS ChatThai", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

header.navbar {
  background: #F5F4F3;

  .links {
    background: #F5F4F3;
  }

  .site-name {
    color: #605850;
  }
}

.home .hero img {
  width: 238px;
  height: 142px;
}

.เว้นวรรคใหญ่ {
  margin-right: 0.25em;
}
.ๆ {
  margin-left: 0.1em;
}

.youtube {
  background: #F5F4F3;
  box-shadow: 3px 3px 0 #E5E4E3;
  position: relative;
  padding-top: 56.25%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}