@import './fonts/CSChatThai.css';
@import './fonts/FragmentMono.css';

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand: #da3567;
  --vp-c-brand-light: #e64d75;
  --vp-c-brand-lighter: #f67591;
  --vp-c-brand-lightest: #f9b5c0;
  --vp-c-brand-dark: #cd285d;
  --vp-c-brand-darker: #b7004d;
  --vp-c-brand-dimm: rgba(218, 53, 103, 0.08);
  --vp-c-bg-alt: #f5f4f3;
  --vp-font-family-mono: Fragment Mono, ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', CS ChatThai, monospace;
  --vp-code-block-bg: #fff;
  --vp-code-line-highlight-color: rgba(255, 248, 197, 0.6);
  --vp-code-block-divider-color: rgba(0, 0, 0, 0.1);
  --vp-code-line-number-color: rgb(101, 109, 118);

  --vp-custom-block-info-text: inherit;

  --vp-custom-block-warning-text: rgb(93, 88, 45);
  --vp-custom-block-warning-border: rgb(219, 213, 169);
  --vp-custom-block-warning-bg: rgba(255, 248, 197, 0.6);
}

html:root {
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #fff 0%,
    #fff 0%
  );
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #da3567 30%,
    #da3567
  );
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.vp-doc {
  font-family: CS ChatThai,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-synthesis: weight style;
}

@media (min-width: 640px) {
  .vp-doc {
    font-size: 18px;
    line-height: 32px;
  }
  .vp-doc p {
    line-height: 32px;
  }
}

.เว้นวรรคใหญ่ {
  margin-right: 0.25em;
}

.ๆ {
  margin-left: 0.1em;
}

.DocSearch-Button {
  background-color: transparent;
  border-color: var(--vp-c-bg-alt);
}

.footnote-item, .footnote-item p {
  line-height: 24px;
  font-size: 14px;
}

sup.footnote-ref {
  vertical-align: baseline;
  display: inline-block;
  position: relative;
  top: -0.5em;
}

figure.figure {
  text-align: center;
}

figure.figure figcaption {
  font-size: 14px;
  line-height: 24px;
  color: var(--vp-c-text);
}

.vp-doc :not(pre) > code {
  line-height: 1.25;
  color: inherit;
  border: 1px solid var(--vp-c-border);
}

.vp-doc .custom-block a {
  font-weight: inherit;
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, currentColor 32%, white);
}

.vp-doc .custom-block a:hover {
  -webkit-text-stroke: 0.016em currentColor;
}

.vp-doc div[class*='language-'],
.rounded-with-shadow {
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
}

.vp-doc code {
  /* disable ligatures as they may be unfriendly to beginners */
  font-variant-ligatures: none;
}